.heart {
	width: 24px; height: 24px;
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
	transform: scale(2);
}


.eyeLeft{
position: absolute;
border-radius: 100%;
height: 4px;
width: 4px;
background-color: black;
left: 15%;
top: 25%;
z-index: 10;
color: white;
}

.eyeRight{
position: absolute;
border-radius: 100%;
height: 4px;
width: 4px;
background-color: black;
right: 15%;
top: 25%;
z-index: 10;
color: white;
}


.bouche{
position: absolute;
left: 15%;
bottom: 25%;
z-index: 10;
}


/* bg-gray-400/60 w-8 h-[100%] absolute bottom-0 z-[2] */
.initialHeart{
	background-color: #696C76;
	width: 32px;
	height: 100%;
	position: absolute;
	bottom: 0;
	z-index: 2;
}

/* bg-red-400 w-8 absolute bottom-0 z-[3] transition-all ease-in */
.heartAnimation{
	background-color: #FF4D4D;
	width: 32px;
	height: 100%;
	position: absolute;
	bottom: 0;
	z-index: 3;
	transition: all 0.1s ease-in;
}

/* absolute left-[15%] bottom-[25%] z-10 */