@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
  /* * {
    @apply border-border;
  } */
  body {
    @apply bg-background text-foreground !overflow-x-hidden scroll-smooth;
    min-height: 100lvh;
  }

}

*::-webkit-scrollbar {
  width: 0.08em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.overlayImgBlack{
  border-image:
  linear-gradient(#50585A, #d6d5d554) /* your gradient here */
    50%/50%; /* no need to touch this, we always want 50% of slice and border-width */
}


.mini-card-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-overflow-scrolling: touch
}

.mini-card-grid::-webkit-scrollbar {
  width: 0px;
  height: 0px
}

.mini-card {
  min-width: 300px;
  min-height: 350px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 0
}

.mini-card:not(:first-child) {
  margin-left: -130px
}


.mini-card:focus-within, .mini-card:hover {
  -webkit-transform: translate(0, -1rem);
  transform: translate(0, -1rem)
}

.mini-card:focus-within ~ .mini-card, .mini-card:hover ~ .mini-card {
  -webkit-transform: translateX(130px);
  transform: translateX(130px)
}


.card::before {
  content: '';
  position: absolute;
  width: 100%;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 10s linear infinite;
  transition: all 0.2s linear;
  z-index: -1;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.menu{
  /* right: 0; */
  @apply fixed right-0 top-0 z-10 w-full h-full lg:w-1/3 dark:bg-slate-950 bg-yellow-50 text-foreground p-14;
}

.curve{
  @apply absolute top-0 left-[-99px] w-28 h-full fill-yellow-50 dark:fill-slate-950 stroke-none;
}



